* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: lightgrey;
    font-size: 200px;
  }
  
  .container {
    background-image: url('https://media.istockphoto.com/id/1466057420/vector/80s-retro-futuristic-sci-fi-illustration-retrowave-video-game-landscape-with-neon-grids.jpg?s=612x612&w=0&k=20&c=qp7sWF94R7KzFqNXoJANSF408lkHKigeLnWkd1TDvk0=');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 20px;
  }
  
  h1 {
    font-size: 40px;
    margin-bottom: 30px;
  }
  
  .input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  input {
    width: 300px;
    height: 60px;
    font-size: 24px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    outline: none;
  }
  
  .button {
    color: white;
    padding: 10px 30px;
    font-size: 40px;
    border: 2px solid white;
    background-color: transparent;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.3s ease;
    border-radius: 10px;
    height: 90px;
    width: 200px;

  }
  
  .button:hover {
    background-color: white;
    color: black;
  }
  
  #message {
    display: none;
    margin-top: 30px;
    font-size: 24px;
    background-color: white;
    color: black;
    padding: 10px 20px;
    border-radius: 10px;
  }
  
  #lives-text {
    margin-top: 20px;
    font-size: 24px;
    color: white;
  }
  